nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #FFECD6;
    padding: 10px 80px;
    box-shadow: 0 5px 15px rgb(0, 0, 0.06);
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a{

    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 600;
    color:#9FBB73;
    transition: 0.3s ease-in-out;

}

#navbar li a:hover{

    color: #17cf97;

}

#navbar li a:hover::after{

    content: "";
    width: 30%;
    height: 2px;
    background: #17cf97;
    position: absolute;
    bottom: -4px;
    left:20px;

}

.dropdown{
    width: 200px;
    margin: 0px auto;
    position :relative;
}

.dropdown .dropdown-btn{
padding: 15px 20px;
background:#FFECD6;
box-shadow: 3px 3px 10px 6px rgba(0,0,0, 0.06);
font-weight:bold;
color:#333;
display: flex;
aligin-items: center;
justify-content : space-between;

}

.dropdown .dropdown-content{
    position: absolute;
    top:110%;
    left:0;
    padding : 10px;
    background: #fff;
    box-shadow: 3px 3px 10px 6px rgb(0, 0, 0.06);
    font-weight: 500;
    color:#FFECD6;
    width:95%
    
}

.dropdown .dropdown-content .dropdown-item{
    padding: 10px;
    cursor: pointer;
    transition: all 0.2s;
}

.dropdown .dropdown-content .dropdown-item:hover{

    background: #fff;

}